<footer
	class='py-6 border-t border-gray-200 dark:border-gray-700 transition-colors w-full flex items-center justify-center'
>
	<span>Creado con ☄️</span>
	<a
		href='https://astro.build/'
		target='_blank'
		class='hover:text-orange-400 transition-colors duration-300'
	>
		Astro</a
	>
</footer>
